<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Probando Express!!!</h1>
  <div>
    <form method="post" enctype="multipart/form-data" action="/api/v1/upload">
      <input type="file" name="bg_cce" />
      <button>
        Upload
      </button>
    </form>
  </div>
</body>
</html>